.contenido{
    display: grid;
    gap: 4rem;
    border-top:3px solid #cfcfcf;
}

@media(min-width: 768px){
    .contenido{
        
        padding: 1rem;
        grid-template-columns: 3fr 2fr;
        border:2px solid #cfcfcf;
        align-items: flex-start;        
    }

}
.carrito{
    padding: 3rem 0;

}
@media(min-width: 768px){
    .carrito{
        max-height: 500px;
        overflow-y: scroll;

    }
    .carrito::-webkit-scrollbar{
        width: 5px;
        
    }
    .carrito::-webkit-scrollbar-thumb{
        background:gray;
        border-radius: 5px;
    }
}

.producto{
    
    max-height: 350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: center;
    border-bottom: 2px solid #cfcfcf;
    padding:3rem 0;
}

.producto:last-of-type{
    border: none;
}
.producto p{
    margin: 0 0 1rem 0;
}
.nombre {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.cantidad{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;
}
.cantidad p{
    margin: 0;
}
.select{
    all: unset;
    padding: 0 5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2rem;
    text-align: center;

}
.precio{
    font-weight: 700;
    color: var(--primary);

}
.precio span{
    font-size: 2.4rem;

}
.subtotal{
    font-weight: 700;
}

.subtotal span{
    font-size: 2.2rem;
}
.eliminar{ 
    all: unset;
    position: absolute;
    top: 3rem;
    right: 1rem;
    cursor: pointer;   
}
.resumen{
    background-color: #ecf2f8;
    padding: 3rem;
    border-radius: 1rem;
}

.total{
    display: flex;
    gap:2rem;
}
@media(min-width:768px){
    .total{
        
        gap: 10rem;
        
    }
}
.total span{
    font-weight: bold;
    font-size: 1.8rem;
}
.apagar{
    font-size: 2.2rem!important;
}
.button{
    margin: auto;
    border: none;
    background-color: var(--primary);
    padding: 1rem 2rem;;
    color: var(--blanco);
  
  
  }
  .button:hover{
    background-color: var(--negro);
    transition: all 0.5s;
    cursor: pointer;
  }
  .title{
    text-align: center;
    color:  var(--primary);
  }
 .h2{
   text-align: center;
   color:black; 
  }


  .volver{
    cursor: pointer;
    margin: auto;
    border: none;
    background-color: var(--primary);
    padding: 1rem 2rem;;
    color: var(--blanco);
   
  }
  .contenedor{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }