.cursos{
    display: grid;
    gap: 4rem;
}

@media(min-width:768px){
    .cursos{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:992px){
    .cursos{
        grid-template-columns: repeat(3, 1fr);
    }
}
.enlace{
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition: all 1s;
}
.enlace:hover{
    background-color: var(--primary);
    color: white;
    transition: all 0.5s;
}
.precio{
    color: var(--primary);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }
  .resumen{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}
@media (min-width:768px){
    .cursoguit{
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}

.precio{
    color: var(--primary);
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
  }
  
  .contprecio input[type='submit']{
    width: 100%;
    
    display: block;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 1.8rem;
    border: none;
    color: var(--blanco);
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 2s;
  }
  .contprecio input[type='submit']:hover{
    background-color: var(--negro);
    transition: all 0.5s;
    cursor: pointer;
   
  }  
  .button{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
  }
  
  @media (min-width:738px){
    .button{
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  
  .button button{
    border: none;
    background-color: var(--primary);
    padding: 1rem 2rem;;
    color: var(--blanco);
  
  
  }
  .button button:hover{
    background-color: var(--negro);
    transition: all 0.5s;
    cursor: pointer;
  }
  .agregado{
    text-transform: uppercase;
    background-color: var(--primary);
    color:green;
    text-align: center;
    padding:1rem;
    
  }
  